

#orson{
    width: 90px;
    height: 150px;
    margin: 30 0 0 20;
    display: inline-block;
    
}

.left   {
    float: left;
    width: 50%;
    font-size: 20px;
    text-align: justify;
    
}

.firma1 {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 0 60;
}

#principito {
    float: left;
    width: 150px;
    height: 160px;
    margin: 50 40 0 10 ;
}

.abajo  {
   width: 60%;
   font-size: 21px;
   text-align: justify;

}

.firma2 {
    margin: 0 0 0 450;
    font-size: 20px;
}